<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IPFS Demo</title>
  </head>
  <body>
      <h2>Upload File to IPFS</h2>
      <form action="/upload" method="post" enctype="multipart/form-data">
          <label>Enter File Name:- </label>
          <input type="text" name="fileName" value="fileName">
          <br />
          <<label>Upload the File</label>
          <br />
          <input type="file" name="file" >
          <br />
          <input type="submit" value="Submit">
      </form>
  </body>
</html>
