<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IPFS Demo</title>
  </head>
  <body>
    <h1>File Uploaded</h1>
    <h2> FileName: <%= fileName %> </h2>
    <h2> Link : <a href="https://ipfs.io/ipfs/<%= fileHash %>"> <%= fileHash %></a></h2>
  </body>
</html>
